
body {
background-color: #282828;
width: 800px;
}


p {
    font-size: 18px;
    color: whitesmoke;
    line-height: 1.6;
    text-indent: 50px;
}

mark {
   opacity: .7;
}

a:link {
  color: white;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  background-color: blue;
}


h1 {
    color: whitesmoke;
}

img {
  width: 600px;
  height: 100%;
}
